.container {
  padding: 0rem;
  width: 100%;
  position: relative;
}

.container > section:nth-child(2) {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  z-index: 500;
  width: 350px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 2rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1rem;
    width: 100%;
  }

  .header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    justify-content: space-between;
    padding-bottom: 2rem;
    flex-direction: column;
  }
}
